.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #c3c3c3;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: white;
  margin-bottom: 30px;
}

.footer-contato a {
  padding: 10px 0;
  color: white;
  text-decoration: none;
  position: relative;
}

.footer-contato a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: 0.5s;
}

.footer-contato a:hover::after {
  width: 100%;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (width <= 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (width <= 450px) {
  .footer-contato li {
    font-size: 1.1rem;
  }
}
